@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-style: none;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

@font-face { /*fuente del título*/
  font-family: "League Script";
  font-style: normal;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/league-script@latest/latin-400-normal.woff2) format("woff2"), url(https://cdn.jsdelivr.net/fontsource/fonts/league-script@latest/latin-400-normal.woff) format("woff");
}
/*fuente de los botones del nav*/
a {
  color: white; /*				la unica forma que encontre de darle color a los hipervinculos*/
  font-style: none;
}

/*************************************************************************************************
HEADER
*/
nav {
  z-index: 3;
  position: fixed;
}
nav img { /*Banner*/
  width: 100vw;
  height: 7.5vw;
  max-height: 120px; /*			max-height y heigt:30vw; para hacerlo responsive*/
  object-fit: cover; /*			para ajustar la imagen*/
  position: relative;
}
nav .titulo { /*Título del banner*/
  padding: 3.5px; /*				padding porque si no me corta el borde/gradiente de las letras como la g,y,t*/
  z-index: 4; /*					para que quede arriba de la imagen*/
  margin-top: 0.5%;
  position: absolute;
  font-family: "League Script";
  font-weight: 600;
  color: #8c07a1;
  font-size: 4.5vw;
  left: 0;
  right: 0; /*			solucion que encontré en internet para centrarlo porque con position: absolute; no me deja centrar con normalidad...*/
  text-align: center; /*			...hasta acá*/
  background: linear-gradient(#db01fe, white); /*		configuracion que saqué de internet para dar un borde con gradiente...*/
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.5vw transparent; /*				  ...hasta acá*/
}
nav .navBotones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 2.5vw; /*			en vw para hacerlo un poco más responsive*/
  border: #8c07a1;
  background-color: #9f63a0;
  margin-left: -1vw;
}
nav .navTxt, nav .navTienda { /*clase aparte para el texto y poder darle el borde*/
  padding: 0px 1%; /*			para que no se corte el borde/gradiente*/
  letter-spacing: 1.2vw;
  font-size: 1.7vw;
  font-family: sans-serif;
  font-weight: 1000; /*		para que quede más ancho*/
  background: linear-gradient(#db01fe, #ed8efc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  width: 25vw;
  text-align: center;
}
nav .navTienda {
  height: 200px;
  width: calc(25vw - 4px);
  padding: 0.2vw; /*				para centrarlo*/
  background: black;
  color: #db01fe;
  display: inline-block;
  border-radius: 0px 0px 5px 5px;
  margin: 0px -4px;
  border: 1px solid black;
  border-left: 0px;
  border-top: 0px;
}

/*
HEADER													HEADER
*************************************************************************************************
<MAIN> GLOBAL											GLOBAL
*/
body {
  /*fondo de pasto*/
  background-image: url(../img/FONDO.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
}

main {
  min-height: 100vh;
  padding-top: 13vw; /*padding a todos los main para que queden debajo del nav*/
}

footer {
  margin-top: auto;
}

.parrafo, .galeriaMain {
  font-size: 3.8vw;
  padding: 1% 10%;
  background-color: rgba(250, 250, 250, 0.3);
  /*fondo transparente del texto*/
}

.boton {
  text-align: center;
  width: 50vw;
  font-size: 3.2vw;
  margin: 4vw 0px;
  border-radius: 7px;
  display: inline-block;
  background-color: #f095ff;
}

/*
<MAIN> GLOBAL											GLOBAL
*************************************************************************************************
<MAIN> INDEX											INDEX
*/
.fotoIndex {
  width: 60vw;
  margin: 4vw;
  border-radius: 20px;
  border: 2px outset #db01fe;
}

/*
<MAIN> INDEX											INDEX
*************************************************************************************************
<MAIN> TIENDA											TIENDA
*/
.tiendaFoto {
  width: 37%;
  text-align: center;
  display: inline-block;
  margin-left: 8.5%;
  margin-bottom: 8.5vw;
}

.pTienda {
  font-size: 200%;
  background-color: grey;
  border-radius: 0px 0px 10px 10px;
  /*intenté separar más las fotos del footer con un margin-buttom pero creaba una franja blanca en la zona del margin*/
}

/*
<MAIN> TIENDA											TIENDA
*************************************************************************************************
<MAIN> INFO												INFO
*/
/*la configuracion que necesité para esta página fue la misma de los parrafos del index*/
/*
<MAIN> INFO												INFO
*************************************************************************************************
<MAIN> GALERIA											GALERIA
*/
.galeriaMain { /*responsive por defecto*/
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  margin: 0px 10%;
  padding: 0px;
}
.galeriaMain .galeriaImg {
  width: 35vw;
  margin: 1vw;
}

/*
<MAIN> GALERIA											GALERIA
*************************************************************************************************
<MAIN> REDES											REDES
*/
.mainRedes {
  text-align: start;
  display: flex;
  flex-direction: column;
}

.redesP {
  font-size: 45px;
  border-radius: 7px;
  padding-right: 20px; /*para que la caja rosa quede mejor*/
  margin-bottom: 20px; /*no era la idea que los botones quedaran así pero me gustó*/
  background-color: #f095ff;
}

.ico {
  justify-self: flex-end;
  margin-top: 4vw;
  padding: 3px;
  width: 130px;
  background-color: rgba(250, 250, 250, 0.7);
  border-radius: 10px;
}

.imgRedes {
  width: 85vw;
  margin: 5vw 3%;
  border-radius: 20px;
  border: 3px outset #db01fe;
}

/*
<MAIN> REDES											REDES
*************************************************************************************************
FOOTER													FOOTER
*/
.footer {
  background-color: darkgrey;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2vw;
  border-radius: 30px 30px 0px 0px;
}
.footer article { /*para ordenar en filas el contenido de los articulos*/
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
  border-left: 2px solid rgb(100, 100, 100);
  border-radius: 20px;
  padding: 1%;
}
.footer a, .footer p {
  font-size: 1.5vw;
  color: rgb(70, 70, 70);
  text-align: start;
}
.footer a {
  color: rgb(43, 43, 255); /*color azul a los hipervinculos*/
}
.footer .jim {
  border-left: 0px;
}
.footer .jim .imgFooter { /*foto de lombriz*/
  border-radius: 50%;
  height: 10vw;
  width: 10vw;
  margin: 10%;
  margin-top: 0px;
  border: 2px outset #db01fe;
}
.footer .jim p { /*nombre de la lombriz	"Earthworm Jim	*/
  background-color: rgb(146, 146, 146);
  border-radius: 3px;
  margin-left: 20%;
  margin-bottom: 30px;
  align-self: center;
  text-align: center;
  width: 10vw;
}
.footer .footerImg2 { /*foto a la derecha*/
  height: 15vw;
  border-radius: 10px;
}
.footer .igText {
  font-size: 1vw;
  color: rgb(126, 126, 126);
  align-self: center;
  text-align: center;
  width: 4vw;
}

@media (max-width: 768px) {
  .footer {
    border-radius: 20px 20px 0px 0px;
  }
  .footer article {
    border-left: 2px solid rgb(100, 100, 100);
    border-radius: 15px;
  }
  .redesP {
    font-size: 37px;
    border-radius: 5px;
  }
  .ico {
    padding: 5px;
    width: 110px;
    border-radius: 9px;
  }
  .imgRedes {
    border-radius: 15px;
  }
}
@media (max-width: 480px) {
  .footer {
    border-radius: 20px 20px 0px 0px;
  }
  .footer article {
    border-left: 1px solid rgb(100, 100, 100);
  }
  .galeriaMain .galeriaImg {
    width: 72vw;
    margin: 2vw;
  }
  .redesP {
    font-size: 30px;
    border-radius: 4px;
  }
  .ico {
    padding: 4px;
    width: 90px;
    border-radius: 8px;
  }
  .imgRedes {
    border-radius: 10px;
    border: 2px outset #db01fe;
  }
}
@media (max-width: 320px) {
  .footer {
    border-radius: 15px 15px 0px 0px;
  }
  .footer .jim .imgFooter {
    border: 1px outset #db01fe;
  }
  .footer article {
    border-left: 1px solid rgb(100, 100, 100);
    border-radius: 10px;
  }
  .redesP {
    font-size: 20px;
    border-radius: 3px;
  }
  .ico {
    padding: 3px;
    width: 70px;
    border-radius: 5px;
  }
  .imgRedes {
    border: 1px outset #db01fe;
  }
}

/*# sourceMappingURL=style.css.map */
