* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-style: none;
}


a:link, a:visited, a:active, a:hover {
    text-decoration: none;
	transition: all .5s ease-out;
}


@font-face {			/*fuente del título*/
	font-family: "League Script";
	font-style: normal;
	font-display: swap;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/league-script@latest/latin-400-normal.woff2) format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/league-script@latest/latin-400-normal.woff) format("woff");
}

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,700&display=swap");
/*fuente de los botones del nav*/


a {
	color: white;/*		la unica forma que encontre de darle color a los hipervinculos*/
	font-style: none;
}

/*************************************************************************************************
HEADER
*/
nav{
	position: fixed;
	z-index: 2;//			porque algunos elementos lo superponían

	.banner{
		display: flex;
	}
	.navBotones, .navBotTienda{
		background:rgba(221, 0, 255, 0.446);// 10% para que destaque más el color
		height: 5vw;
	}
	.navBotTienda{
		height: 2.5vw;

		article{
			max-height: 2.5vw;
		}
	}

	img {/*Banner*/
		width: 100vw;		height: 10vw;		max-height: 130px;/*			max-height y heigt:30vw; para hacerlo responsive*/
		object-fit: cover;/*			para ajustar la imagen*/
		position: relative;
		top: 0px;
	}

	.titulo {/*Título del banner*/
		padding: 3.5px;/*				padding porque si no me corta el borde-gradiente de las letras como la g,y,t*/
		z-index: 3;
		position: absolute;
		font-family: "League Script";
		font-weight: 600;//				para que quede grueso
		color: #8c07a1;
		font-size: 4.5vw;
		left: 0;	right: 0;/*			solucion que encontré en internet para centrarlo porque con position: absolute; no me deja centrar con normalidad...*/
		text-align: center;/*			...hasta acá*/
		background: linear-gradient(#db01fe,white);/*		  configuracion que saqué de internet para dar un borde con gradiente...*/
		background-clip: text;//								...
		-webkit-background-clip: text;//						...
		-webkit-text-stroke: .5vw transparent;/*				...hasta acá*/
	}

	.navBotones, .navBotTienda{
		backdrop-filter: blur(10px);
		display: flex;
		justify-content: space-around;
		height: 3.7vw;
		article{
			display: flex;
			align-items: end;//			para que queden centrados
			height: 4vw;
			margin-top: auto;
		}
		.navBoton1{//		para sacar el borde izquierdo del primer boton
			border-left: 0px;
			border-start-start-radius: 0px;
		}
		.navBoton4{//		para sacar el borde derecho del último boton
			border-right: 0px;
			border-start-end-radius: 0px;
		}
	}

	.navBotTienda{
		height: 3.1vw;
	}

	.navTxt, .navTienda{/*clase aparte para el texto y poder darle el borde*/
		z-index: 4;
		padding: 2% 1%;/*			para que no se corte el borde/gradiente*/
		margin: 1.5% 0px;
		letter-spacing: 1.2vw;
		font-size: 1.7vw;
		font-family: sans-serif;
		display: inline-block;//		con flex queda raro
		font-weight: 1000;/*		para que quede más ancho*/
		background: linear-gradient(#d903fa, #eeb0f8);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-stroke: .5vw transparent;
		width: 25vw;
		text-align: center;
		border-top: 2px solid #b927b4b4;
		border-left: 2px solid #d903fa;
		border-right: 2px solid #d903fa;
		border-radius: 20px 20px 0px 0px;
	}

	.navTienda {//segunda botonera del nav en la tienda
		width: 33.33vw;//		por alguna razon usar '3fr' lo desarma todo 
		padding: .2vw;/*				para centrarlo*/
		margin: 0px -3px;// IMPORTANTE 		para quitar los espacios de mierda que hace automaticamente entre cada item
	
	}

	a:hover{
		transition: 1s;
		color: #8c07a1;
		background: linear-gradient(#eeb0f8, #d903fa); 
		background-clip: text;
		-webkit-background-clip: text; 
		-webkit-text-stroke: .5vw transparent;
		font-size: 3vw;
	}

	.titulo:hover{
		transition: 1s;
		font-size: 6vw;
	}
}

/*
HEADER													HEADER
*************************************************************************************************
<MAIN> GLOBAL											GLOBAL
*/

body {
	/*fondo de pasto*/
	background-image: url(../img/FONDO.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	text-align: center;
}

main {
	min-height: 100vh;
	padding-top: 15vw;/*padding a todos los main para que queden debajo del nav*/
}

footer {
	margin-top: auto;
}

.parrafo {
	font-size: 3.8vw;
	padding: 1% 10%;
	background-color: rgba(250, 250, 250, 0.173);	/*fondo transparente del texto*/
	backdrop-filter: blur(15px); 
}

.boton {
	text-align: center;
	width: 50vw;
	font-size: 3.2vw;
	margin: 4vw 0px;
	border-radius: 7px;
	display: inline-block;
	background-color: #f095ff;
}

/*
<MAIN> GLOBAL											GLOBAL
*************************************************************************************************
<MAIN> INDEX											INDEX
*/

.fotoIndex {
	width: 60vw;
	margin: 4vw;//		para separarlo de los parrafos
	border-radius: 20px;
	border: 2px outset #db01fe;
}

/*
<MAIN> INDEX											INDEX
*************************************************************************************************
<MAIN> TIENDA											TIENDA
*/

.tiendaMain {
	padding-top: 4vw;//		para que quede mas abajo por el nuevo nav
	display: grid;
	grid-template-columns: 40vw 40vw;
	grid-template-rows: auto, auto;
	justify-content: center;

	.tiendaFoto {
		justify-self: center;
		img{
			width: 25vw;		height: 40vw;
			border-radius: 10px 10px 0px 0px;// 	borde a las esquinas superiores
		}
		.nombresTienda {
			width: 25vw;
			font-size: 3vw; 
			background-color: grey;
			border-radius: 0px 0px 10px 10px;// 	borde a las esquinas inferiores
		}
	}
	.tienda1{
		grid-column: 1;//		no pude con el método del profe :/
	}
	.tienda2{
		grid-column: 2;
	}
	.tienda3{
		grid-column: 1;
		grid-row: 2; 
	}

	.tienda4{
		img{
			height: 44.5vw;// 		para que tenga la misma altura que el del lado junto con el texto
			object-fit: cover;
			filter: grayscale(100%) brightness(50%);//		si le doy blur(Xpx) se pone borroso el borde >:c
			border-radius: 10px;
			border: 3px solid black;
			grid-column: 2;
			grid-row: 2;
		}
		.nombresTienda{
			bottom: 23vw;
			transform: rotate(45deg);
			position: relative;
			border-radius: 20px;
			background-color: rgba(14, 14, 14, 0.7);
			border: 3px solid black;
			grid-column: 2;
			grid-row: 2;
		}
	}
} 



/*
<MAIN> TIENDA											TIENDA
*************************************************************************************************
<MAIN> INFO												INFO
*/

/*la configuracion que necesité para esta página fue la misma de los parrafos del index*/

/*
<MAIN> INFO												INFO
*************************************************************************************************
<MAIN> GALERIA											GALERIA
*/

.galeriaMain{
	z-index: 1;
	img{
		border-radius: 20px;
		border: 3px outset #db01fe;
	}
	.imgGaleria{
		max-height: 50vw;
	}
}
.carousel{
	margin-bottom: 10vw;
}

/*
<MAIN> GALERIA											GALERIA
*************************************************************************************************
<MAIN> REDES											REDES
*/
.mainRedes{
	text-align: start;
	display: flex;
	flex-direction: column;
}

.redesP {
	font-size: 45px;
	border-radius: 7px;
	padding-right: 20px; 	/*para que la caja rosa quede mejor*/
	margin-bottom: 20px; 	/*no era la idea que los botones quedaran así pero me gustó*/
	background-color: #f095ff;
}

.ico {
	justify-self: flex-end;
	margin-top: 4vw;
	padding: 3px;
	width: 130px;
	background-color: rgba(250, 250, 250, 0.7);
	border-radius: 10px;
}

.imgRedes {
	width: 85vw;
	margin: 5vw 3%; 
	border-radius: 20px;
	border: 3px outset #db01fe;
}

/*
<MAIN> REDES											REDES
*************************************************************************************************
FOOTER													FOOTER
*/

.footer {
	background-color: rgba(171, 171, 171, 0.829);
	display: flex;
	justify-content: space-between;
	border-radius: 30px 30px 0px 0px;
	margin-top: 5vw;
	border-top: 2px solid black;
	backdrop-filter: blur(5px);
	/////////
	article {/*para ordenar en filas el contenido de los articulos*/
		display: flex;
		flex-direction: column;
		margin-top: 2vw;
		border-left: 2px solid rgb(100, 100, 100);//		linea curva gris...
		border-radius: 7px 15px;
		padding: 1%;//															...//
	}/////////
	a, p {
		font-size: 1.5vw;
		color: rgb(0, 0, 0);
		text-align: start;
	}/////////
	a {
		color: rgb(43, 43, 255); /*color azul a los hipervinculos*/
	}/////////
	img{
		margin-top: 2vw;
	}/////////
	.textoGris{
		font-size: 1.5vw; 
		color: rgb(108, 108, 108);
		align-self: center;
		text-align: center;
		width: auto;
		margin: 0px;
		border-radius: 10px;
		background-color: rgba(255, 255, 255, 0.135);
	}
	/////////
	.footer1 {

		border-left: 0px;//			para cancelar la linea curva a la izquierda
		margin-top: 0px;//			para cancelar el margin de arriba (lo pongo ariba a todas las img)

		.imgFooter { /*foto de lombriz*/
			border-radius: 50%;
			height: 10vw; width: 10vw;
			margin: 2vw 10% 10% 10%;
			align-self: center;
			border: 2px outset #db01fe;
		}
		
		p { /*nombre de la lombriz	"Earthworm Jim	*/
			background-color: rgb(146, 146, 146);
			border-radius: 3px;
			align-self: center;
			text-align: center;
			width: 11vw;
		}

		.basicamente{//			basicamente
			width: 15vw;
			border-radius: 10px;
			border: 2px outset #db01fe;
			margin-top: 4vw;
		}
	}
	/////////
	.footer2{
		.amongtagram{
			align-self: center;

			img{
			width: 5vw;
			}
		}
		.yo{//		foto mia
			width: 5vw;
			align-self: center;
			border-radius: 100%;
			border: 3px outset black;}
	}
	/////////
	.footer3{
		.footerImg2 { /*foto a la derecha*/
			height: 15vw;
			border-radius: 10px;
		}
		.textoGris{//		texto en la esquina derecha
			font-size: 1.5vw;
			align-self: self-start;
			width: auto;
		}
	}
}


//FOOTER													FOOTER
//##########################################################################//
//##########################################################################//
//								RESPONSIVE									//
//##########################################################################//
//##########################################################################//

@media (max-width: 768px){
	.redesP {
		font-size: 37px;
		border-radius: 5px;
	}

	.ico {
		padding: 5px; 
		width: 110px;
		border-radius: 9px;
	}

	.imgRedes {
		border-radius: 15px;
	}
	.footer {/////////////////////////////////////////////////////////////// 	FOOTER
		border-radius: 20px 20px 0px 0px;
		border-top: 1px solid black;
		/////////
		article {
			border-left: 1px solid rgb(100, 100, 100);//linea redondeada gris
			border-radius: 2px 10px;
		}
		a, p {
			font-size: 3.2vw;
		}
		/////////
		.textoGris{
			font-size: 2.5vw;
			width: 20vw;
			border-radius: 10px;
			background-color: rgba(255, 255, 255, 0.135);
		}
		.footer1{
			.imgFooter { /*foto de lombriz*/
				height: 14vw; width: 14vw;
				border: 1px outset #db01fe;
			}
			
			p { /*nombre de la lombriz	"Earthworm Jim	*/
				border-radius: 2px;
				width: 17.5vw;
			}
	
			.basicamente{//			basicamente
				width: 20vw;
				border-radius: 7px;
				border: 1px outset #db01fe;
			}
		}
		/////////
		.footer2{
			.amongtagram{	img{	width: 8vw;}}
			.yo{width: 10vw;}
		}
		/////////
		.footer3{
			.footerImg2 { /*foto a la derecha*/
				width: 40vw;		height: auto;
				border-radius: 7px;
			}
			.textoGris{//		texto en la esquina derecha
				font-size: 2vw;
			}
		}
	}
}

//*************************************************************************************************

@media (max-width: 480px){
	.galeriaMain{/////////////////////////////////////////////////////////////// 	GALERIA
		.galeriaImg{
			width: 72vw; 
			margin: 2vw; 
		}
	}
	.redesP {//////////////////////////////////////////////////////////////////		REDES
		font-size: 30px;
		border-radius: 4px;
	}
	.ico {
		padding: 4px; 
		width: 90px;
		border-radius: 8px;
	}
	.imgRedes {
		border-radius: 10px;
		border: 2px outset #db01fe;
	}

	nav{///////////////////////////////////////////////////////////////
		
		img {/*Banner*/
			width: 100vw;		height: 15vw;
		}

		.titulo {
			font-size: 7vw;
			top: 7px;
		}
		.titulo:hover{
			font-size: 8vw;
		}
		
		.navBotones{
			transform: scaleY(2);
			margin-top: 2.6vw;
			height: 5.3vw;
		}

		.navBotTienda{
			transform: scaleY(2);
			margin-top: 4.5vw;
			height: 4.4vw;
		}

		.navTxt, .navTienda{
			border-top: 1px solid #b927b4b4; 	border-left: 1px solid #d903fa;	border-right: 1px solid #d903fa;
			border-radius: 5px 5px 0px 0px;
			font-size: 2.5vw;
		}
	}

	.tiendaMain {/////////////////////////////////////////////////////////////// TIENDA
		padding-top: 6vw;
		grid-template-columns: 40vw;
		grid-template-rows: auto, auto, auto, auto;
	
		.tiendaFoto {
			img{
				width: 70vw;	max-width: 40vh;		height: 60vh;  max-height: 110vw;//		medidas máximas para que no queden medio deformes en ciertas pantallas
				border-radius: 10px 10px 0px 0px;
			}
			.nombresTienda {
				width: 70vw;	max-width: 40vh;
				font-size: 6vw;
				border-radius: 0px 0px 10px 10px;
			}
		}
		.tienda1{
			grid-column: 1;
		}
		.tienda2{
			grid-column: 1;
			grid-row: 2; 
		}
		.tienda3{
			grid-column: 1;
			grid-row: 3; 
		}
	
		.tienda4{
			height: 60vh;  max-height: 110vw;//		sin esto se superpone al footer
			grid-column: 1;
			grid-row: 4;
			img{
				height: 60vh;  max-height: 110vw;
				border-radius: 10px;
				border: 2px solid black;
			}
			.nombresTienda{
				bottom: min(50vw, 33vh);//		para pantallas de resolucion rara (porque puedo)
				position: relative;
				transform: rotate(45deg);
				border-radius: 10px;
				background-color: rgba(14, 14, 14, 0.7);
				border: 2px solid black;
			}
		}
	}
}
//*************************************************************************************************

@media (max-width: 320px){
	.parrafo{
		font-size: 5vw;
	}
	p, a{//			agranda todo el texto
		font-size-adjust: .6;
	}

	nav{
		a:hover{
			font-size: 2.5vw;
		}
		.titulo, .titulo:hover{
			font-size: 4.5vw;
			top: 10px;
		}
	}
	.redesP {
		font-size: 20px;
		border-radius: 3px;
	}
	.ico {
		padding: 3px;
		width: 70px;
		border-radius: 5px;
	}
	.imgRedes {
		border: 1px outset #db01fe;
	}

	.tiendaMain{
		padding-top: 30vw;
	}

	.footer{
		border-radius: 10px 10px 0px 0px; 
		article{
			border-left: 1px solid rgb(100, 100, 100);//linea redondeada gris
			border-radius: 2px 6px;
		}
		a, p {
			font-size: 2.5vw;
			text-align: start;
			margin-bottom: 4px;
		}
		.textoGris{
			font-size: 2.5vw;
		}
		/////////
		.footer1{
			.imgFooter{ border: 1px outset #db01fe;
			}
			.basicamente{
				width: 20vw;
				border-radius: 7px;
				border: 1px outset #db01fe;
			}
		}
		/////////
		.footer2{
			.amongtagram{ 	img{ 	width: 10vw;}
				}
			.yo{
				width: 10vw; 
				border: 1px outset black;
			}
		}
		/////////
		.footer3{

		}
	}
}