* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-style: none;
}


a:link, a:visited, a:active, a:hover {
    text-decoration: none;
	transition: 1s;
}


@font-face {			/*fuente del título*/
	font-family: "League Script";
	font-style: normal;
	font-display: swap;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/league-script@latest/latin-400-normal.woff2) format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/league-script@latest/latin-400-normal.woff) format("woff");
}

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,700&display=swap");
/*fuente de los botones del nav*/


a {
	color: white;/*				la unica forma que encontre de darle color a los hipervinculos*/
	font-style: none;
}

/*************************************************************************************************
HEADER
*/
nav {
	position: fixed;
	z-index: 2;//			porque algunos elementos lo superponían

	.navBotones, .navBotTienda{
		background: linear-gradient(rgba(221, 0, 255, 0.705) 10%, transparent);// 10% para que destaque más el color
	}

	img {/*Banner*/
		width: 100vw;		height: 7.5vw;		max-height: 210px;/*			max-height y heigt:30vw; para hacerlo responsive*/
		object-fit: cover;/*			para ajustar la imagen*/
		position: relative;
	}

	.titulo {/*Título del banner*/
		padding: 3.5px;/*				padding porque si no me corta el borde-gradiente de las letras como la g,y,t*/
		z-index: 3;
		position: absolute;
		font-family: "League Script";
		font-weight: 600;//				para que quede grueso
		color: #8c07a1;
		font-size: 4.5vw;
		left: 0;	right: 0;/*			solucion que encontré en internet para centrarlo porque con position: absolute; no me deja centrar con normalidad...*/
		text-align: center;/*			...hasta acá*/
		background: linear-gradient(#db01fe,white);/*		  configuracion que saqué de internet para dar un borde con gradiente...*/
		background-clip: text;//								...
		-webkit-background-clip: text;//						...
		-webkit-text-stroke: .5vw transparent;/*				...hasta acá*/
	}

	.navBotones{//		pendiente para solucionar el responsivo********************************************
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 2.5vw;/*			en vw para hacerlo un poco más responsive*/
	}

	.navTxt, .navTienda{/*clase aparte para el texto y poder darle el borde*/
		padding: 0px 1%;/*			para que no se corte el borde/gradiente*/
		letter-spacing: 1.2vw;
		font-size: 1.7vw;
		font-family: sans-serif;
		display: inline-block;//		con flex queda raro
		font-weight: 1000;/*		para que quede más ancho*/
		background: linear-gradient(#d903fa, #eeb0f8);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-stroke: .5vw transparent;
		width: 25vw;
		text-align: center;
		border-left: 2px solid #d903fa;
	}

	.navTienda {//segunda botonera del nav en la tienda
		width: 33.33vw;//		por alguna razon usar '3fr' lo desarma todo 
		padding: .2vw;/*				para centrarlo*/
		margin: 0px -3px;// IMPORTANTE 		para quitar los espacios de mierda que hace automaticamente entre cada item
	
	}

	a:hover{
		color: #8c07a1;
		background: linear-gradient(#eeb0f8, #d903fa); 
		background-clip: text;
		-webkit-background-clip: text; 
		-webkit-text-stroke: .5vw transparent;
		font-size: 2vw;
	}

	.titulo:hover{
		font-size: 4.8vw;
	}
}

/*
HEADER													HEADER
*************************************************************************************************
<MAIN> GLOBAL											GLOBAL
*/

body {
	/*fondo de pasto*/
	background-image: url(../img/FONDO.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	text-align: center;
}

main {
	min-height: 100vh;
	padding-top: 13vw;/*padding a todos los main para que queden debajo del nav*/
}

footer {
	margin-top: auto;
}

.parrafo {
	font-size: 3.8vw;
	padding: 1% 10%;
	background-color: rgba(250, 250, 250, 0.3);
	/*fondo transparente del texto*/ 
}

.boton {
	text-align: center;
	width: 50vw;
	font-size: 3.2vw;
	margin: 4vw 0px;
	border-radius: 7px;
	display: inline-block;
	background-color: #f095ff;
}

/*
<MAIN> GLOBAL											GLOBAL
*************************************************************************************************
<MAIN> INDEX											INDEX
*/

.fotoIndex {
	width: 60vw;
	margin: 4vw;//		para separarlo de los parrafos
	border-radius: 20px;
	border: 2px outset #db01fe;
}

/*
<MAIN> INDEX											INDEX
*************************************************************************************************
<MAIN> TIENDA											TIENDA
*/
.tiendaMain {
	padding-top: 2vw;//		para que quede mas abajo por el nuevo nav
	display: grid;
	grid-template-columns: 40vw 40vw;
	grid-template-rows: auto, auto;
	justify-content: center;
	row-gap: 10vw;

	.tiendaFoto {
		justify-self: center;
		img{
			width: 25vw;		height: 40vw;
			border-radius: 10px 10px 0px 0px;// 	borde a las esquinas superiores
		}
		.nombresTienda {
			width: 25vw;
			font-size: 3vw; 
			background-color: grey;
			border-radius: 0px 0px 10px 10px;// 	borde a las esquinas inferiores
		}
	}
	.tienda1{
		grid-column: 1;//		no pude con el método del profe :/
	}
	.tienda2{
		grid-column: 2;
	}
	.tienda3{
		grid-column: 1;
		grid-row: 2; 
	}

	.tienda4{
		grid-column: 2;
		grid-row: 2;
		z-index: 0;
		img{
			height: 44.7vw;// 		para que tenga la misma altura que el del lado junto con el texto
			object-fit: cover;
			filter: grayscale(100%) brightness(50%);//		si le doy blur(Xpx) se pone borroso el borde >:c
			position: absolute;
			right: 16.75vw;//		culpa del position: absolute; no se centra solo
			border-radius: 10px;
			border: 3px solid black;
		}
		.nombresTienda{
			width: 30vw;
			position: relative;
			transform: rotate(45deg);
			top: 22vw;//			para dejarlo más al medio
			border-radius: 20px;
			background-color: rgba(14, 14, 14, 0.7);
			border: 3px solid black;
		}
	}
} 



/*
<MAIN> TIENDA											TIENDA
*************************************************************************************************
<MAIN> INFO												INFO
*/

/*la configuracion que necesité para esta página fue la misma de los parrafos del index*/

/*
<MAIN> INFO												INFO
*************************************************************************************************
<MAIN> GALERIA											GALERIA
*/

.galeriaMain{
	z-index: 1;
	img{
		border-radius: 20px;
		border: 3px outset #db01fe;
	}
}

/*
<MAIN> GALERIA											GALERIA
*************************************************************************************************
<MAIN> REDES											REDES
*/
.mainRedes{
	text-align: start;
	display: flex;
	flex-direction: column;
}

.redesP {
	font-size: 45px;
	border-radius: 7px;
	padding-right: 20px; 	/*para que la caja rosa quede mejor*/
	margin-bottom: 20px; 	/*no era la idea que los botones quedaran así pero me gustó*/
	background-color: #f095ff;
}

.ico {
	justify-self: flex-end;
	margin-top: 4vw;
	padding: 3px;
	width: 130px;
	background-color: rgba(250, 250, 250, 0.7);
	border-radius: 10px;
}

.imgRedes {
	width: 85vw;
	margin: 5vw 3%; 
	border-radius: 20px;
	border: 3px outset #db01fe;
}

/*
<MAIN> REDES											REDES
*************************************************************************************************
FOOTER													FOOTER
*/

.footer {
	background-color: darkgrey;
	display: flex;
	justify-content: space-between;
	border-radius: 30px 30px 0px 0px;
	margin-top: 10vw;

	article {/*para ordenar en filas el contenido de los articulos*/
		display: flex;
		flex-direction: column;
		margin-top: 2vw;
		border-left: 2px solid rgb(100, 100, 100);//		linea curva gris...
		border-radius: 20px;
		padding: 1%;//															...//
	}

	a, p {
		font-size: 1.5vw;
		color: rgb(70, 70, 70);
		text-align: start;
	}
	
	a {
		color: rgb(43, 43, 255); /*color azul a los hipervinculos*/
	}

	.jim {

		border-left: 0px;//			para cancelar la linea curva a la izquierda

		.imgFooter { /*foto de lombriz*/
			border-radius: 50%;
			height: 10vw; width: 10vw;
			margin: 10%;
			margin-top: 0px;
			border: 2px outset #db01fe;
		}
		
		p { /*nombre de la lombriz	"Earthworm Jim	*/
			background-color: rgb(146, 146, 146);
			border-radius: 3px;
			margin-left: 20%;
			margin-bottom: 30px;
			align-self: center;
			text-align: center;
			width: 10vw;
		}

		.basicamente{
			width: 15vw;
			border-radius: 10px;
		}
	}

	.footerImg2 { /*foto a la derecha*/
		height: 15vw;
		border-radius: 10px;
	}

	.igText{//	texto del instagram
		font-size: 1vw; 
		color: rgb(126, 126, 126);
		align-self: center; 
		text-align: center;
		width: 4vw; 
	}
	.yo{
		width: 5vw;
		align-self: center;
		border-radius: 100%;
	}

}




//##########################################################################//
//##########################################################################//
//								RESPONSIVE									//
//##########################################################################//
//##########################################################################//

@media (max-width: 768px){
	.footer{
		border-radius: 20px 20px 0px 0px;
		article{
			border-left: 2px solid rgb(100, 100, 100);//linea redondeada gris
			border-radius: 15px; 
		}
	}
	.redesP {
		font-size: 37px;
		border-radius: 5px;
	}

	.ico {
		padding: 5px; 
		width: 110px;
		border-radius: 9px;
	}

	.imgRedes {
		border-radius: 15px;
	}
}


@media (max-width: 480px){
	.footer{
		border-radius: 20px 20px 0px 0px;
		article{
			border-left: 1px solid rgb(100, 100, 100);//linea redondeada gris
		}
	}
	.galeriaMain{
		.galeriaImg{
			width: 72vw; 
			margin: 2vw; 
		}
	}
	.redesP {
		font-size: 30px;
		border-radius: 4px;
	}
	.ico {
		padding: 4px; 
		width: 90px;
		border-radius: 8px;
	}
	.imgRedes {
		border-radius: 10px;
		border: 2px outset #db01fe;
	}

} 


@media (max-width: 320px){
	.footer{
		border-radius: 15px 15px 0px 0px; 
		.jim{
			.imgFooter{
			border: 1px outset #db01fe;// circulo violeta de borde de la foto
			}
		}
		article{
			border-left: 1px solid rgb(100, 100, 100);//linea redondeada gris
			border-radius: 10px; 
		}
	}
		
	.redesP {
		font-size: 20px;
		border-radius: 3px;
	}

	.ico {
		padding: 3px;
		width: 70px;
		border-radius: 5px;
	}

	.imgRedes {
		border: 1px outset #db01fe;
	}

}